* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #004d4d;
  overflow: hidden;
  
}


body {
  position: relative;
  touch-action: manipulation;
  overscroll-behavior: none;
}

.container {
  position: relative;
  height: 100vh;
  height: 100dvh; /* دعم أفضل لأندرويد */
  width: 100vw;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;
}

.social-icon {
  position: absolute;
  width: 9vw;
  max-width: 70px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.social-icon:hover,
.social-icon:focus {
  box-shadow: 0 0 15px 6px rgba(255, 255, 255, 0.6);
  transform: scale(1.25);
  outline: none;
}

/* أماكن الأيقونات */
#facebook { top: 83%; left: 15%; }
#x { top: 83%; left: 35%; }
#instagram { top: 83%; left: 55%; }
#tiktok { top: 83%; left: 75%; }

.cv-button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  max-width: 320px;
  height: 6vh;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
}

